#copy_right_footer
{
text-align: center;
width:100%;
bottom:0;
margin-bottom:0;
position: fixed;
color: #6c757d;
font-size: 18px;
background-color: #f5f5f5;
line-height:  3;
text-shadow: 5px 5px 5px rgb(151, 149, 149);
}
body
{
    font-family: 'Quattrocento', serif;
    background-color: #f5dbda;
}
.header_div
{
    background: white;
    color: red;
}
.header_div p{
font-family: 'Quattrocento', serif;
color: gray;
letter-spacing: 2px;
font-size: 12px;
font-weight: bold;
}
.main_div button{
    font-family: 'Quattrocento', serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing:3px;
}